.title{
    font-style: Bolder;
    font-size: 2rem;
}
.posters{
    display: flex;
    overflow-x: scroll;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-width: 500px;
    width: 250px;
    margin-right: 1rem;
    margin-bottom: 2rem;
    transition: 150ms ease-in;
}
.poster:hover{
    transform: scale(2);
}
.smallposter{
    max-height: 180px;
    margin-right: 1rem;
    margin-bottom: 2rem;
    transition: 200ms ease-in;
}
.smallposter:hover{
    transform: scale(2);
}